attrs
av
ctranslate2
grpcio
grpcio-tools
protobuf
pydantic_core
faster-whisper
torch
torchvision
torchaudio
uvicorn
pydantic
Levenshtein
fastapi
pandas
transformers
setuptools
soundfile
nltk
numpy
xlrd
fuzzywuzzy