accelerate
aiohttp
aiosignal
annotated-types
attrs0
audioread
av0
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
ctranslate
datasets
decorator
dill
faster-whisper
filelock
flatbuffers
frozenlist
fsspec
grpcio
grpcio-tools
h11
huggingface-hub
humanfriendly
idna
intel-openmp
Jinja2
joblib
lazy_loader
Levenshtein
librosa
llvmlite
MarkupSafe
mkl
mpmath
msgpack
multidict
multiprocess
networkx
numba
numpy
onnxruntime
packaging
pandas
platformdirs
pooch
protobuf
psutil
pyarrow
pyarrow-hotfix
pycparser
pydantic
pydantic_core
pyreadline3
python-dateutil
pytz
PyYAML
rapidfuzz
regex
requests
safetensors
scikit-learn
scipy
setuptools
six
sniffio
soundfile
soxr
sympy
tbb
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
uvicorn
xxhash
yarl
nltk