attrs
av
ctranslate2
grpcio
grpcio-tools
protobuf
pydantic_core
faster-whisper
torch==1.12.0a0+2c916ef
torchvision
torchaudio
uvicorn
pydantic
Levenshtein
fastapi
pandas
transformers
setuptools
soundfile
nltk
numpy
xlrd
re
pickle
difflib
fuzzywuzzy